[Unit]
Description=gunicorn instance to serve softball_backend
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Repos/gallery/backend
Environment="PATH=/home/pi/Repos/gallery/backend/venv/bin"
ExecStart=/home/pi/Repos/gallery/backend/venv/bin/fastapi run main.py --port 8086 --root-path /api

[Install]
WantedBy=multi-user.target